* {
  margin: 0;
  padding: 0%;
}
.header-paragraph {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
body {
  font-family: "Roboto";
}
.first-section {
  background-color: #1f2937;
}
.header-logo {
  font-size: 24px;
  color: #f9faf8;
  text-align: left;
  margin-left: 150px;
}
.header-link {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-align: center;
}
.navbar {
  display: flex;
  flex-direction: row;
}
.ul {
  display: flex;
  flex-direction: row;
}
.navbar-left,
.navbar-right {
  display: flex;
  width: 50%;
}
h1 {
  text-align: left;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.sign-up {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  padding: 3px;
  font-size: 20px;
  border-radius: 8px;
  height: 45px;
  width: 140px;
}
.content-left {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-left: 150px;
}
.content-right {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 150px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.information-header {
  color: black;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin-top: 25px;
}
.row-of-blue-divs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box-blue {
  border: 3px solid #3882f6;
  padding: 50px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}
.blue-box-msg {
  margin: 30px;
  flex: 0 0 100px;
}
.p-second {
  font-size: 15px;
  color: black;
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-align: center;
}
.third-section {
  background-color: #e5e7eb;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paragraph {
  margin: 200px;
  margin-bottom: 0;
  flex: 0 0 100px;
  width: 700px;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}
.quote {
  color: black;
  font-size: 20px;
  text-align: right;
  margin: 250px;
  margin-top: 20px;
}
.big-blue-div {
  background-color: #3882f6;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100px;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.last-button {
  background-color: #3882f6;
  padding: 2px;
  border-color: white;
  border-radius: 5px;
  color: white;
  height: 27px;
  width: 90px;
  margin-top: 30px;
}
.left {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin-top: 30px;
}
